/* Centrar el mensaje de carga */
.centered-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Altura para centrar verticalmente */
  text-align: center;
  font-size: 1.5em;
}

/* Contenedor general de películas */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las tarjetas horizontalmente */
  gap: 20px;
  padding: 20px;
}

/* Tarjeta de película */
.movie-card {
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
